body {
    font-family: 'Josefin Sans', sans-serif;
}

.heading-color {
    background-color: #ffffff;
}

.nav-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    height: 130px;
}

.logo-container {
    /* border: 1px solid green; */
    width: 50%;
    display: flex;
    align-items: center;
}

.logo-container img {

    height: 40px;
    width: 80px;
    margin-right: 10px;

}

.logo-container p {
    font-size: 40px;
    font-weight: 700;
}

.gamer {
    color: #f643a5;
}

.nav-items-container {
    /* border: 1px solid blueviolet; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;

}

.nav-items-container a {
    text-decoration: none;
}

.nav-items-container .login-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 18px 24px;
    text-align: center;
}

.login-btn .fa-youtube,
.login-btn .fa-tiktok {
    margin-left: 10px;
}

/* Banner section start */



.bann {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.banner {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
    text-align: left;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.bb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.bb h2 {
    color: #0B0223;
    font-size: 44px;
    margin-bottom: 5px;
}

.bb h1 {

    font-size: 95px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
    margin-top: 5px;

}

.banner-button {


    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 20px;
    margin-right: 10px;
}

.banner-button2 {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 10px 20px;
    cursor: pointer;
}

.section-img {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* banner section ends */


/* Game video */

.one .headline {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.para {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.fun {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grid-container {
    display: grid;
    max-width: 1400px;
    margin: 50px auto 0;
    grid-template-columns: repeat(4, 1fr);

}

.first-video {
    width: 90%;
}

.first-video img {
    width: 100%;
}

.v-headline {
    font-size: 18px;

}

/* banner khatam here */


/* fourth part starting */

.fourth-container {
    max-width: 1400px;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
}

.four-text {
    flex: 1;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.play {
    text-align: right;
    font-size: 30px;
}

.just {
    width: 50%;
    text-align: right;
}

.overlap-img {

    position: absolute;
    justify-content: center;

}


.four-img {
    position: relative;
}

.lower-part {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
}

.big-back {
    display: flex;
    flex-direction: column;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.big-back h2{
    color: #0B0223;
    font-size: 44px;
    margin-bottom: 5px;

}

.lower-button{
    border-radius: 40px;
    border: 1px solid salmon;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 20px;
    margin-right: 10px;
    width: auto;
}

.children{
    margin-left: auto;
    max-width: 1400px;
}